<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>HBASECLINET</title>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">


</head>
<body>
	<div class="layui-row">
			<div class="layui-col-md12">
			
			    <form class="layui-form" action="" lay-filter="hbaseform">
	       <div class="layui-form-item">
	        <label class="layui-form-label">zkip</label>
	          <div class="layui-input-block">
	           <input name="zkip" type="text" value="172.16.158.54" required   placeholder="zkip" autocomplete="off" class="layui-input">
	          </div>
	        </div>
			  <div class="layui-form-item">
	        <label class="layui-form-label">zkport</label>
	          <div class="layui-input-block">
	           <input name="zkport" type="text" value="2185" required   placeholder="zkport" autocomplete="off" class="layui-input">
	          </div>
	        </div>
			  <div class="layui-form-item">
	        <label class="layui-form-label">TabelName</label>
	          <div class="layui-input-block">
	           <input name="TabelName" type="text" value="" required   placeholder="TabelName" autocomplete="off" class="layui-input">
	          </div>
	        </div>
			  <div class="layui-form-item">
	        <label class="layui-form-label">Rowkey</label>
	          <div class="layui-input-block">
	           <input name="Rowkey" type="text" value=""    placeholder="Rowkey" autocomplete="off" class="layui-input">
	          </div>
	        </div>
			
	       <div class="layui-form-item">
	         <label class="layui-form-label">返回数据</label>
	          <div class="layui-input-block">
	          <textarea name="returndata"    placeholder="请输入" class="layui-textarea" style="height:200px" ></textarea>
	         </div>
	        </div><br>
	       <div class="layui-form-item">
	         <button class="layui-btn layui-btn-sm layui-btn-primary layui-btn-radius" lay-submit="" lay-filter="search">查询</button>
	        </div>
	    </form> 
			
			</div>	
		</div>

</body>
<script>
	layui.use([ 'layer', 'form' ,'jquery','code','layedit','element','util','carousel'], function() {
		//<!-- layui初始化-->
		var layer = layui.layer, form = layui.form;
		var element = layui.element; 
		var util = layui.util;
		var carousel = layui.carousel;
		//<!-- 获取布局中的form表单-->
		var form = layui.form;
		//<!-- 引入jquery-->
		var $=layui.$;
		
		function search(){
			  form.on('submit(search)', function(data){
				  var index = layer.load(1);
				  $.ajax({          
			           	url:'/hbasesearch',
			             type:'post', 
			             async: false,
			             data:{
			            	 zkip:data.field.zkip,
			            	 zkport:data.field.zkport,
			            	 TabelName:data.field.TabelName,
			            	 Rowkey: data.field.Rowkey
			             },
			             success:function(data){
			            		form.val("hbaseform", { 
			  					"returndata":data
			  				});
			             }
			           
				   });
				  layer.close(index); 
				    return false;
			  });
		}
		search();
	});
</script>


</html>